<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Welcome to Best Cars Dealership</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'djangoapp:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <span class="navbar-text mr-3">Welcome, {{ user.first_name|default:user.username }}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'djangoapp:logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
          {% csrf_token %}
          <input type="text" class="form-control mr-sm-2" placeholder="Username" name="username">
          <input type="password" class="form-control mr-sm-2" placeholder="Password" name="password">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
        </form>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'djangoapp:signup' %}">Sign Up</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
    <!-- Content Goes Here -->
    <h4>Welcome to Best Cars Dealership</h4>
    <p>Best Cars Dealership, home to the best cars in Frankfurt. We sell domestic and imported cars at reasonable prices!</p>
</div>

</body>
</html>
